$navbar-blue-bg: #3B5998;
$navbar-blue-color: #FFF;
$navbar-blue-border: 1px solid #000;

$navbar-red-bg: #B9090B;
$navbar-red-color: #FFF;
$navbar-red-border: 1px solid #000;

$navbar-green-bg: #00FF00;
$navbar-green-color: #FFF;
$navbar-green-border: 1px solid #000;